body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #333f48;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 970px;
  height: 250px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 970px;
  height: 250px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 970px;
  height: 250px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "heading_font";
  src: url("fonts/NeulisSans-Bold.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "PNCReg";
  src: url("fonts/subset-PNCBrandReg.woff");
  font-weight: normal;
}
@font-face {
  font-family: "PNCBold";
  src: url("fonts/subset-PNCBrand-Bold.woff");
  font-weight: normal;
}


.full-width{
  width: 970px;
  height: 250px;
}
.copy{
  font-family: "heading_font";
  color: #fff;
  font-size: 50.9px;
  line-height: 24px;
  text-align: center;
  top: 68.3px;
  left: 22px;
}
.copy2{
  top: 130px;
  color:#ef6a00;
}
.copy span{
  display: block;
}
#rollbtn{
      font-family: "PNCBold";
    color: #333f48;
    background-color: #ededee;
    font-size: 10px;
    text-align: center;
    right: 23px;
    width: 79px;
    height: 15px;
    line-height: 15px;
    z-index: 501;
    cursor: pointer;
    bottom: 0px;
}
#closeBtn{
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 503;
  width: 23px;
  height: 23px;
}
.rollover{
  font-family: "PNCReg";
  color: #333f48;
  font-size: 20.5px;
  line-height: 23.5px;
  inset: 0;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  background-color: #ededee;
  box-sizing: border-box;
  z-index: 502;
  
  opacity:0;
  visibility:hidden;
  transition: all .3s ease;
}
.rollover.show{
  opacity:1;
  visibility:visible;
}
.rollover span{
  font-family: "PNCBold";
  font-size: 20.5px;
}
.rollover div{
  position: relative;
  margin-bottom: 15px;
}
#cta{
  font-family: "heading_font";
  display: inline-block;
  font-size: 22.3px;
  top: 181px;
  left: 26px;
  color: #ffffff;
}
#cta span{
  color: #ef6a00;
  display: inline-block;
}

.logo{
  width: 134px;
  bottom: 34px;
  left: 558px;
}
.tagBg{
  background: #333f48;
  height: 42px;
  width: 160px;
  bottom: 24px;
  right: 139px;
  border-right: #ededee solid 2px;
  overflow: hidden;
}
.tag span{
  display: block;
}
.tag{
  font-family: "heading_font";
  color: #ededee;
  font-size: 12.4px;
  line-height: 11px;
  bottom: 28px;
  left: 604px;
}
.tag img{
  width: 8px;
}

.tag sup{
  font-size: 5px;
  line-height: 0;
}